<div class="jumbotron">
  <h1 class="display-4">Jhonatan Freitas</h1>
  <p class="lead">FREELANCER NO DESENVOLVIMENTO WEB</p>
  <hr class="my-4">
  <p>O meu nome é Jhonatan Freitas e sou programador web. Vivo e trabalho no Algarve - Portugal e, desde 2007, tenho trabalhado em diferentes empresas, onde estive envolvido em vários projectos e tive o privilégio de colaborar com excelentes pessoas e profissionais.

    No inicio de 2012, escolhi ser freelancer a tempo inteiro. Foi uma opção minha, com qb de risco, mas senti que chegara o momento e foi como um passo natural, tanto profissionalmente como pessoalmente. Agora, para além do trabalho de programação, a organização, disciplina, orientação, gestão, networking fazem parte da lista de responsabilidades a fazer diariamente. Será uma aprendizagem constante, mas é assim que gosto de viver.
    
    E, como a vida não pode ser só trabalho, como hobbies tenho o gosto pela dança, futebol, conviver com os amigos e relaxar (gostava de dedicar mais tempo para esta).
    
    Desde 2009 dou aulas de Salsa e ritmos latinos e tenho o prazer de conhecer e dançar com pessoas de todo o mundo. Sempre que posso dou uma "escapadinha" para fazer o gosto ao pé.
    
    Para 2014 fiz uma lista de objectivos, de entre os quais, gostava de destacar um: tornar-me mais solidário. Assim, juntar-me a uma causa, doar e até concretizar algumas ideias pessoais são objectivos que quero introduzir na minha vida.</p>
</div>
