<p class="lead text-center mt-2">
  ALGUNS TRABALHOS FEITOS COMO FREELANCER E EMPRESAS ONDE COLABOREI.
</p>

<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <img src="http://www.gilguilherme.com/sites/default/files/styles/portfolio_thumbnail/public/porfolios/frasesbonitas-website.jpg?itok=Oc4B_9bf" style="float:left;">
      <h4>FRASES BONITAS WEBSITE</h4>
      <h5>Projeto</h5>
      <p>Projecto
        Desenvolvimento do portal de frases. As citações estão organizadas por autores, tópicos e suas origens, tornando fácil encontrar aquele frases que procura</p>
        <h5>Ano</h5>
        <p>2019</p>
    </div>
    
  </div>
  
</div>

