<div class="jumbotron">
    <h1 class="display-4">Jhonatan Freitas</h1>
    <p class="lead">FREELANCER NO DESENVOLVIMENTO WEB</p>
    <hr class="my-4">
    <p>O meu nome é Jhonatan Freitas e sou programador web. Vivo e trabalho no Algarve - Portugal e, desde 2007, tenho trabalhado em diferentes empresas, onde estive envolvido em vários projectos e tive o privilégio de colaborar com excelentes pessoas e profissionais...</p>
    <a class="btn btn-primary btn-lg" [routerLink] = "['/sobre']" role="button">Leia mais</a>
</div>